RewriteEngine On
RewriteRule ^([a-zA-Z0-9_-]+)$ profile.php?perfil_usuario=$1
RewriteRule ^([a-zA-Z0-9_-]+)/$ profile.php?perfil_usuario=$1

RewriteEngine On
RewriteRule ^([a-zA-Z0-9_-]+)/friends$ friends.php?perfil_usuario=$1 [QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/friends/$ friends.php?perfil_usuario=$1 [QSA]

RewriteEngine On
RewriteRule ^([a-zA-Z0-9_-]+)/followed$ followed.php?perfil_usuario=$1 [QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/followed/$ followed.php?perfil_usuario=$1 [QSA]

RewriteEngine On
RewriteRule ^([a-zA-Z0-9_-]+)/followers$ followers.php?perfil_usuario=$1 [QSA]
RewriteRule ^([a-zA-Z0-9_-]+)/followers/$ followers.php?perfil_usuario=$1 [QSA]
