/* OLD MENU
#menu {
    position: fixed;
    top: 50px;
    left: 0;
    width: 200px;
    height: calc(100% - 50px);
    background-color: #fff;
    border-right: 1px solid #ccc;
    overflow-y: auto;
}

.dropdown {
    margin-bottom: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.dropdown>span {
    cursor: pointer;
    padding: 10px;
    display: block;
    color: #eee;
    font-weight: bold;
}

.dropdown .dropdown-content {
    display: none;
    background-color: #999;
    border: 1px solid #ccc;
    padding: 10px;
    border-top: none;
}

.dropdown.show .dropdown-content {
    display: block;
}


.dropdown.show .dropdown-content {
    display: block;
}

*/

/* OLD GROUPS
#group span {
    background-color: #9e9043b6; /* gold 
  }
  
  #simple span {
    background-color: #137756a6; /* Turquoise 
  }
  
  #setup span {
    background-color: #c45a31; /* orange
  }
*/


/* Make the blocks tightened
.dropdown .dropdown-content .XTYPEBLOCK {
    cursor: move;
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ccc;
    display: block;
}
*/


/* Dropdown menu styling */
.dropdown {
    position: relative;
    z-index: 1;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: fixed;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown .dropdown-content {
    display: none;
    background-color: #333;
    border: 1px solid #ccc;
    padding: 10px;
    border-top: none;
}