.contenedor_display_sanciones_a_usuario {
    margin-top: 20px;
    text-align: center;
}

.contenedor_bloque_sancion {
    margin: 0 auto;
    background-color: #dca8a8;
    width: 40%;
    border: 0.25px solid black;
    border-bottom: none;
}

.contenedor_motivo_sancion {
    border-bottom: 0.25px solid black;
}

.divInferiorDisplaySancion {
    margin: 0 auto;
    background-color: #d3d3d3;
    width: 40%;
    border: 0.25px solid black;
}

.contenedor_recuperar_contra input[type="submit"] {
    width: 200px;
    height: 40px;
    border: none;
    border-radius: 3px;
    background-color: #6b787c;
    color: white;
    text-shadow: rgb(99 170 194) 0.5px 0.5px 0px;
    font-size: 90%;
    outline: 0;
    margin: 1% 2%;
    cursor: pointer;
}