/* Corresponde a la barra de navegacion superior */
.barra_superior {
    /* $width ->  Especifica la anchura del elemento */
    width: 100%;
    /* $ min-width -> Esto es para que cuando achiquemos la ventana, el texto no se junte (anchura minima)*/
    min-width: 40px;
    /* $ height ->  Especifica la altura del elemento*/
    height: 40px;
    /* $ background-color -> Color de fondo del elemento */
    background-color: lightblue;
    /* $ border-bottom -> Establece la anchura, estilo y color del borde inferior */
    border-bottom: 0.25px solid blue;
    /* $ margin ->  Establece los margenes de un elemento y otro */
    /* +$ margen superior, margen derecho, margen inferior, margen izquierdo */
    margin: 0 0 10px 0;
    /* $ display ->  Especifica si un elemento es tratado como block o inline element */
    /* +$ inline-flex -> El elemento se comporta como un elemento en linea y se establece su contenido
       +$ de acuerdo con el modelo de cuadricula
       +$ O sea, que todo lo que haya dentro del elemento, va en una SOLA linea */
    display: inline-flex;
    /* $ position -> Especifica como un elemento sera posicionado en el documento (top, right, bottom y left) */
    /* +$ fixed -> Hace que un elemento se coloque respecto al viewport, le dices donde posicionarse al elemento
       +$ \,y se queda ahi mientras el usuario hace scroll  */
    position: fixed;
    /* $ z-index -> Indica el orden de un elemento posicionado y sus descendientes. Cuando varioes elementos se
       $ superponen, los elementos con mayor valor z-index, cubriran a aquellos con menor valor
       +$ Esto es para el scroll */
    z-index: 10;
}

/* Corresponde al logo de Blockimino */
.logo a {
    /* $ margin-left -> Establece el margen izquierdo del elemento una longitud */
    margin-left: 10px;
    /* $ font-size -> Establece el tamaño de la fuente en css */
    font-size: 30;
    /* +$ Relavite  El elemento es posicionado de acuerdo al flujo normal del documento y luego
       +$ es desplaado con relacion a si mismo, con base a los valores (top, right, bottom y left)
       +$ el desplazamiento o afecta a posicion de ningun otro ekemento*/
    position: relative;
    /* $ top -> Especifica la parte de la posicion de un elemento posicionado (previamente utilizando position)
       +$ para los elementos con una posicion relativa (relative) -> determina el desplazamiento hacia abajo que tendra
       +$ el elemento con respecto a su posicion final */
    top: 9px;
    /* $ text-shadow -> Agrega sombra al texto, el orden es: color, eje x, eje y, radio de desenfoque;*/
    text-shadow: #73b6e2 0.5px 0.5px 0px;
    /* $ color -> Color del texto de un elemento */
    color: #1086BA;
}

/* Corresponde a todos links de la pagina */
a {
    /* $ text-decoration -> Se usa para establecer la apariencia de las lineas decorativas en el texto
       +$ none -> Elimina el subrayado del texto*/
    text-decoration: none;
    color: #20AAE5;
}

/* $ hover -> Ocurre cuando el usuario coloca sobre el elemento el cursor*/
a:hover {
    text-decoration: none;
}

/* Propiedades para todos los elementos de la barra de navegacion */
nav {
    /* $ float -> Ubica un elemento al lado izquierdo o derecho de su contenedor, permitiendo a los elementos de texto y
       $ en linea aparecer a su costado.
       +$ right -> El elemento flota a la derecha de su bloque contenedor*/
    float: right;
    /* +$ absolute ->  El elemento es removido del flujo normal del documento, sin crearse espacioa alguno para
       +$ que el elememto en el esquema de a pagina. Es posicionado relativo a su ancestro posicionado mas cercano,
       +$ si lo hay. Su posicion final esta determinada por los valores de top, right, bottom y left*/
    position: absolute;
    /* $ right -> Especifica parte de la posicion de un elemento
       +$ para absolute, esta propiedad determina la distancia entre el margen derecho del elemento y el borde derecho
       +$ de su bloque contenedor */
    right: 1px;
    /* +$ Si solo hay un numero, aplica de los cuatro lados */
    margin: 10px;
}

/* Propiedades para los links de los elementos de la barra de navegacion */
nav a {
    position: relative;
    color: #FFFFFF;
    text-decoration: none;
    font-size: 20px;
}

/* Propiedades para los links de los elementos de la barra de navegacion cuando se tiene el cursor encima*/
nav a:hover {
    border-bottom: 7px solid #e67e22;
    color: #FFFFFF;
}

/* Propiedades del cuerpo de nuestro html */
.cuerpo_principal {
    /* +$ Vertical, horizontal
       +$ autp -> Es reemplazado por algun valor apropiado, se utilkza para centrar los elementos horizontalmente respecto a su contenedor */
    margin: 0 auto;
    position: relative;
    top: 50px;
    /* $ padding -> Es una propiedad o relleno que se crea alrededor del contenido de un elemento dentro de los bordes definidos 
       +$ arriba y abajo | izquierda y derecha */
    padding: 0 10px;
    width: 75%;
    min-width: 950px;
}

.columna_boton_publicar {
    background-color: #FFFFFF;
    border-radius: 5px;
    width: 100%;
    z-index: -1;
    min-height: 60px;
}

.columna_boton_publicar a button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: lightblue;
    color: black;
    text-shadow: rgb(99 170 194) 0.5px 0.5px 0px;
    font-size: 90%;
    outline: 0;
    margin: 0;
}

.columna_principal {
    background-color: #FFFFFF;
    border: 1px solid #D3D3D3;
    /* $ border-radius -> Hara circulares las esquinas del borde de un elemento */
    border-radius: 5px;
    width: 100%;
    z-index: -1;
    /* $ min-width -> Esto es para que cuando achiquemos la ventana, el texto no se junte (altura minima)*/
    min-height: 60px;
}

.publicacion {
    width: 96%;
    font-size: 15px;
    padding: 0px 5px;
    min-height: 75px;
}

.foto_perfil_publicacion {
    float: left;
    margin-right: 7px;
}

.foto_perfil_publicacion img {
    border-radius: 5px;
}

.displayHashtag {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    color: #20AAE5;
    border-radius: 5px;
    padding: 2px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.displayHashtag:hover {
    background-color: #D3D3D3;
}

/* Comentarios */

#iframe_comentario {
    max-height: 250px;
    width: 100%;
    margin-top: 5px;
}

.seccion_comentarios {
    padding: 0 5px 5px 5px;
}

.seccion_comentarios img {
    padding: 0 3px 3px 3px;
    border-radius: 3px;
}

#formulario_comentarios textarea {
    border-color: #D3D3D3;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 3px;
}

#formulario_comentarios input[type="submit"] {
    border: none;
    background-color: #20AAE5;
    color: #156588;
    border-radius: 5px;
    width: 13%;
    height: 40px;
    margin-top: 3px;
    position: absolute;
    text-shadow: #73b6e2 0.5px 0.5px 0px;
    cursor: pointer;
}

.boton_eliminar_comentario {
    padding: 0;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    right: 0px;
    position: relative;
}

.boton_eliminar_comentario i {
    position: absolute;
    top: 20%;
    left: 25%;
}

.OpcionesDePublicacion {
    padding: 0px;
    text-decoration: none;
    color: #20AAE5;
    border: none;
}

#iframe_likes {
    border: 5px;
    height: 28px;
    width: 120px;
}

.mostrar_ocultar_comentarios {
    font-size: 14px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900
}

.mostrar_ocultar_comentarios i {
    font-size: 20px;
}

.like_comentario {
    background-color: transparent;
    border: none;
    font-size: 14px;
    color: #3498db;
    padding: 0;
    height: auto;
    width: auto;
    margin: 0;
}

.numero_likes {
    display: inline;
    font-size: 14px;
    color: #20AAE5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900
}

/* Seccion de posts */
.publicar_area {
    width: 75%;
    margin: 0 auto;
    border: 0.25px solid black;
    min-height: 480px;
    min-width: 1070px;
}

.contenedor_publicar_algo {
    width: 75%;
    margin: 0;
    text-align: center;
    height: 50px;
    min-width: 1070px;
}


.publicar_titulo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 0px 10px;
}

#publicar_titulo {
    flex-grow: 1;
}

.publicar_titulo_container textarea {
    width: 92%;
}

.publicar_titulo_container i {
    font-size: 70px;
}

.icono_imagen_container {
    position: relative;
    margin-left: 10px;
}

.palomita {
    position: absolute;
    top: -2px;
    right: -4px;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #4CAF50;
    display: none;
}

.palomita.activo {
    display: block;
}

.palomita i.fa-check {
    position: absolute;
    top: 4px;
    left: 2px;
    bottom: 0;
    right: 0;
    margin: auto;
    color: white;
    font-size: 16px;
}

.publicar_texto_container textarea {
    margin: 0px 10px;
    width: 98%;
    height: 300px;
}

.formulario_publicacion {
    width: 100%;
    height: 100%;
}

.agregar_hashtags_container input[type='text']{
    margin: 0px 10px;
    width: 70%;
}

#agregar_hashtag  {
    margin: 0px;
    width: 26.6%;
    border: none;
    border-radius: 3px;
    background-color: lightpink;
    color: black;
    text-shadow: rgb(99 170 194) 0.5px 0.5px 0px;
    font-size: 90%;
    outline: 0;
}

.hashtag_resultados_container {
    position: absolute;
    z-index: 1;
    background-color: white;
    border: solid 0.25px #D3D3D3;
    margin: 0px 10px;
    width: 70%;
}

.displayResultadoHashtag:hover{
    background-color: #EBEBEB;
    text-decoration: none;
    cursor: pointer;
}

.displayResultadoHashtag {
    padding: 8px 0px 0 5px;
    height: 40px;
    border-bottom: 1px solid #D3D3D3;
}

.formulario_publicacion textarea {
    border-radius: 3px;
    border: 1px solid #D3D3D3;
}

/* Mostrar al pasar el mouse por encima de la imagen */
.tooltip {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    bottom: 120%;
    left: 50%;
    /* //! hay que explicar traslateX */
    transform: translateX(-50%);
    padding: 5px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
    transition: opacity 0.3s, visibility 0.3s;
}

.tooltip::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #333 transparent;
}

/* !Esta parte no funciona */
/* $ focus -> Cuando se le pasa por encima el cursor a un elemento o se le hace click */
.texarea:focus {
    /* $ outline -> Se utiliza para establecer el estilo del contorno de un elemento, es aquel que se dibuja
       $ en el borde para resaltar un elemento 
       +$ none -> Sin contorno */
    outline: none;
}

.formulario_publicacion input[type="submit"] {
    width: 98%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background-color: lightblue;
    color: black;
    text-shadow: rgb(99 170 194) 0.5px 0.5px 0px;
    font-size: 90%;
    outline: 0;
    margin: 10px;
}

.formulario_publicacion input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
}

.boton_eliminar_hashtag {
    padding: 0;
    width: 25px;
    float: inherit;
    border-radius: 5px;
}

.contenedor_hashtags_agregados {
    margin: 0 10px;
}

.hashtag_agregado {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: #f1f1f1;
    color: #000;
    border-radius: 5px;
    padding: 2px 10px;
    margin-right: 5px;
    margin-bottom: 5px;
}

.hashtag_agregado button {
    margin-left: 5px;
}

/* String de publicacion */
#titulo_publicacion {
    font-weight: bold;
    font-size: 20px;
}

/* Pagina de perfil */
.contenedor_superior_perfil {
    width: 100%;
    background-color: lightblue;
    border-bottom: 10px solid #83D6FE;
    color: #CBEAF8;
}

.nombre_perfil {
    text-align: center;
    width: 100%;
    min-width: 600px;
    color: #000000;
}

.nombre_perfil h4 {
    padding-top: 1%;
    font-size: 30px;
}

.detalles_usuario {
    display: inline-flex;
    width: 100%;
    min-width: 600px;
}

.informacion_perfil {
    margin: 27px 10px 10px 25px;
    width: 100%;
}

.informacion_perfil p {
    border: 0.25px solid black;
    padding: 10px;
}

.informacion_perfil a {
    color: #CBEAF8;
}

.bloque {
    text-align: center;
    margin: 10px;
    /* +$ inline-block -> Los margenes y paddings superiores e inferiores son respetados, este lo use porque separa los divs en bloques horizontales */
    display: inline-block;
    /* $ vertical-align -> Especifica el alineado vertical de un elemento en linea o una celda de una tabla */
    vertical-align: baseline;
}

.bloque h1 {
    color: #0043f0;
}

.bloque p {
    background-color: #20AAE5;
}

.link_info:hover {
    background-color: #0043f0;
}

.bloque_1 {
    width: 30%;
}

.bloque_2 {
    width: 30%;
}

.bloque_3 {
    width: 30%;
}

.imagen_perfil {
    width: 25%;
}

.detalles_usuario img {
    width: 87%;
    height: 70%;
    margin: 35px 20px 10px 20px;
    border: 5px solid blue;
    border-radius: 100%;
}

.detalles_usuario input[type="submit"] {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    position: relative;
    top: 20%;
}

.danger {
    background-color: #E74C3C;
}

.warning {
    background-color: #F0AD4E;
}

.default {
    background-color: #BDC3C7;
}

.success {
    background-color: #2ECC71;
}

.info {
    background-color: #3498DB;
}

.deep_blue {
    background-color: #0043f0;
}

#boton_aceptar {
    width: 15%;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: white;
    background-color: #2ECC71;
}

#boton_ignorar {
    width: 15%;
    height: 30px;
    border-radius: 5px;
    margin: 5px;
    border: none;
    color: white;
    background-color: #E74C3C;
}


.boton_eliminar {
    padding: 0;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    right: -15px;
    position: relative;
}

.columna_principal_perfil {
    min-width: 675px;
    z-index: -1;
}

.info_perfil_inferior {
    background-color: #156588;
}

.info_descripcion_perfil
{
    color: black;
    margin: 0px 30px;
}

/* Mensajes */
#textarea_mensaje {
    width: 80%;
    margin-right: 5px;
    border-radius: 5px;
    border: 1px solid #D3D3D3;
}

#enviar_mensaje {
    height: 55px;
    width: 120px;
    position: absolute;
    border: none;
    border-color: #D3D3D3;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
}

.mensaje {
    border: 1px solid #000000;
    border-radius: 5px;
    padding: 5px 10px;
    display: inline-block;
    color: #FFFFFF;
}

.mensaje#verde {
    background-color: #2ECC71;
    border-color: #27AE60;
    float: left;
    margin-bottom: 5px;
}

.mensaje#azul {
    background-color: #3498DB;
    border-color: #2980B9;
    float: right;
    margin-bottom: 5px;
}

.mensajes_cargados {
    height: 65%;
    min-height: 300px;
    max-height: 400px;
    /* $overflow -> Nos permite determinar que sucede con un elemento cuando sobrepasa los limites de su contenedor */
    /* +$ scroll -> Mostrara una barra de scroll para el elemento y asi poder visualizar todo su contenido*/
    overflow: scroll;
    margin-bottom: 10px;
}

  /* Mensajes */
  .ir_a_mis_conversaciones
  {
    text-align: center;
  }

/* messages.php */
.conversaciones_cargadas {
    max-height: 200px;
    overflow: scroll;
}

.mensajes_encontrados {
    border-bottom: 1px solid #D3D3D3;
    padding: 8px 8px 10px 8px;
}

.mensajes_encontrados:hover {
    background-color: #D3D3D3;
}

.mensajes_encontrados img {
    height: 50px;
    float: left;
}

#gris {
    color: #8C8C8C;
}

/* Buscar mensaje */
.displayResultado {
    padding: 8px 0px 0 5px;
    height: 70px;
    border-bottom: 1px solid #D3D3D3;
}

.displayResultado a {
    float: none;
}

.displayResultado:hover {
    background-color: #EBEBEB;
    text-decoration: none;
    cursor: pointer;
}

.liveSearchFotoPerfil img {
    height: 50px;
    border-radius: 25px;
    margin: 1px 12px 0 2px;
    float: left;
}

.liveSearchTexto {
    background-color: transparent;
    color: #1E96CA;
}

.liveSearchTexto p {
    margin-left: 10px;
    font-size: 12px;
}

.liveSearchFotoGrupo img {
    height: 50px;
    border-radius: 25px;
    margin: 1px 12px 0 2px;
    float: left;
}

.simbolo_hashtag i{
    float: left;
    border-radius: 25px;
    margin: 1px 12px 0 2px;
    font-size: 55px;

}


/* Log eliminaciones */
.tabla_log_de_eliminacion caption {
    caption-side: top;
    text-align: center;
}

.ventana_desplegable {
    background-color: #FFFFFFFF;
    border: #DADADA;
    border-radius: 0 0 8px 8;
    border-top: none;
    width: 300px;
    position: absolute;
    right: 10px;
    top: 40px;
    overflow: scroll;
}

/* Notificaciones */

.insignia_notificacion {
    padding: 3px 7px;
    font-size: 12px;
    font-weight: 700;
    line-height: 1;
    color: #FFFFFF;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    background: #F00;
    border-radius: 70%;
    position: absolute;
    left: 6px;
    top: -5px;
}

.displayResultadoNotificacion {
    height: auto;
    color: #1485BD;
    padding-bottom: 7px;
}

.displayResultadoNotificacion img {
    height: 40px;
    border-radius: 5px;
    margin: 1px 12px 0px 2px;
    float: left;
}

.marcaDeTiempo {
    font-size: 85%;
    margin: 0;
}


/* Busqueda */
.busqueda {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 20%;
    position: relative;
}

#input_busqueda_texto {
    border: thin solid #E5E5E5;
    height: 23px;
    outline: 0;
    width: 100%;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.contenedor_boton {
    background-color: #F1F1F1;
    border: #E5E5E5;
    cursor: pointer;
    height: 22px;
    text-align: center;
    width: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    top: 1px;
    right: 0;
}

.contenedor_boton i {
    margin-top: 1px;
    width: 20px;
}

.resultados_busqueda {
    background-color: #FFFFFF;
    border: 1px solid #DADADA;
    border-bottom: none;
    border-top: none;
}

.resultados_busqueda_pie_pagina {
    padding: 0px 4px 0 4px;
    height: 26px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: #20AAE5;
    text-align: center;
}

.resultados_busqueda_pie_pagina a {
    color: #FFFFFF;
}

/* Pagina de busqueda */
.resultado_busqueda {
    padding: 10px;
    height: 120px;
}

.paginaBusquedaBotones {
    float: right;
}

.paginaBusquedaBotones input[type="submit"] {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #FFFFFF;
    width: 150px;
}

.paginaBusquedaBotones button {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #FFFFFF;
    width: 150px;
}

.fotoPerfilResultado {
    float: left;
    margin-right: 10px;
}

.imagenGrupoResultado {
    float: left;
    margin-right: 10px;
}

#busqueda_hr {
    margin-bottom: 0px;
}

/* Settings */
.fotoPerfilSettings {
    height: 100pxpx;
    margin: 1px 12px 0 7px;
    float: left;
}

.input_settings {
    border: 1px solid #D3D3D3;
    height: 20px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    width: 200px;
}

.input_settings_textarea {
    border: 1px solid #D3D3D3;
    height: 70px;
    padding: 4px 6px;
    margin-bottom: 10px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;
    width: 500px;
    display: inline-block;
    vertical-align: top;
}


.descripcion_usuario
{
    display: inline-block;
    width: 120px; /* ajustar el ancho según sea necesario */
    margin-top: 10px; /* ajustar el margen según sea necesario */
}

.submit_settings {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #FFFFFF;
}

/* trends */
.contenedor_trends {
    height: 100px;
}

.tabla_trends {
    border-collapse: collapse;
    width: 100%;
    margin: 0 auto;
    font-size: 12px;
    background-color: #e5f1f8;
}

.contenedor_trends td {
    border: 1px solid #ddd;
    text-align: center;
    padding: 2px;
}

.contenedor_trends td:hover {
    background-color: #d9edf7;
    cursor: pointer;
}

.titulo_trends {
    background-color: lightblue;
    color: #000000;
    text-shadow: rgb(99 170 194) 0.5px 0.5px 0px;
    font-weight: bold;
    font-size: 14px;
}

/* Publicar imagen */

.imagenPublicada img {
    max-height: 500px;
    max-width: 100%;
    display: block;
    margin: 5px auto;
}

#icono_imagen {
    cursor: pointer;
}

/* Friends, Followed, Followers */
.tabla_usuarios_encontrados {
    margin: auto;
    width: 100%;
}

.titulo_tabla_usuarios_encontrados {
    text-align: center;
    font-size: 40px;
    font-weight: bold;
    padding-bottom: 20px;
}

.titulo_tabla_usuarios_encontrados span {
    padding-top: 5px;
    padding-bottom: 10px;
}

.paginacion a {
    font-size: 20px;
    height: 50px;
    width: 150px;
}

.displayUsuario {
    padding-bottom: 10px;
}

.td_derecha {
    width: 80%;
    margin-left: 15%;
}

.td_izquierda {
    width: 80%;
    margin-left: 5%;
}

.cuerpo_pagina_amigos h1 {
    text-align: center;
}

.fotoPerfilUsuario img {
    height: 100px;
    border-radius: 60px;
    margin: 1px 12px 0 2px;
    float: left;
}

.infoUsuario {
    background-color: transparent;
    color: #1E96CA;
    border: 1px solid #D3D3D3;
    padding: 10px;
    margin-left: 130px;
}

.infoUsuario p {
    font-size: 14px;
}

.paginacion {
    text-align: center;
}

.paginacion .fa-regular {
    font-weight: 800;
    font-size: 60px;
}

/* Esta regla es especial, que es cuando se tiene solamente un amigo a mostrar en la pagina, para que se vea en dos columnas */
.columna_un_usuario {
    margin-left: 22%;
    width: 100%;
}

.cuerpo_pagina_amigos .col-sm-4 {
    width: 39%;
}

.diplay_td {
    width: 50%;
}

/* grupos */
/* crear grupo */
.area_crear_grupo {
    width: 35%;
    margin: 0 auto;
    border: 0.25px solid black;
    height: 54%;
}

.formulario_crear_grupo {
    width: 100%;
    height: 100%;
}

.descripcion_grupo_container textarea {
    margin: 0px 10px;
    width: 96%;
    height: 215px;
}

.nombre_grupo_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 0px 10px;
}


.nombre_grupo_container textarea {
    width: 92%;
}

.nombre_grupo_container i {
    font-size: 70px;
}

.formulario_crear_grupo input[type="submit"] {
    width: 96%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background-color: lightblue;
    color: black;
    text-shadow: rgb(99 170 194) 0.5px 0.5px 0px;
    font-size: 90%;
    outline: 0;
    margin: 1% 2%;
}

.formulario_crear_grupo input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
}

.crear_grupo {
    text-align: center;
}

.crear_grupo button {
    border: 0.25px solid #D3D3D3;
    background-color: lightblue;
    color: #156588;
    border-radius: 5px;
    width: 25%;
    height: 40px;
    margin-top: 3px;
    text-shadow: #73b6e2 0.5px 0.5px 0px;
    cursor: pointer;
}

.crear_grupo p {
    color: black;
    margin: 0;
}

.contenedor_titulo_crear_grupo {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
}

/* Ver grupos */
.mostar_grupos h4 {
    margin-top: 2%;
    text-align: center;
}

.contenedor_grupos {
    display: flex;
    flex-wrap: wrap;
}

.displayResultadoGrupo {
    text-align: center;
    width: 31.33%;
    margin: 0 1%;
    height: 240px;
}

.displayResultadoGrupo:hover {
    background-color: #D3D3D3;
}

.fotoPerfilGrupo {
    margin: 10px 0;
}

.fotoPerfilGrupo img {
    height: 180px;
    width: 49%;
    border-radius: 100px;
    margin: 1px 12px 0 2px;
}

.infoGrupo {
    margin: 10px 0;
    font-size: 25px;
    font-weight: bold;
}

/* Pagina de grupos */

.imagenPaginaGrupo {
    width: 35%;
    float: left;
    height: 100%;
}

.imagenPaginaGrupo img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}

.titulo_grupo {
    width: 100%;
    text-align: center;
}

.titulo_grupo h4 {
    width: 100%;
    text-align: center;
}

.titulo_grupo h4 {
    font-size: 35px;
    padding: 1%;
}

.contenedor_detalles_grupo {
    width: 100%;
    height: 230px;
}

.descripcion_grupo span {
    font-weight: bold;
    font-size: 18px;
}

.detalles_grupo {
    width: 60%;
    margin-left: 37%;
    height: 345px;
}


.detalles_grupo input[type="submit"],
.detalles_grupo button {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    position: relative;
    top: 20%;
    margin-bottom: 1%;
}

.miembros {
    width: 16%;
}

.miembros a {
    text-decoration: none;
}

.miembros:hover {
    background-color: #EBEBEB;
    text-decoration: none;
}

/* Pagina de miembros de grupo */
.cuerpo_miembros {
    display: flex;
    flex-wrap: wrap;
}

.cuerpo_miembros h4 {
    font-size: 35px;
    padding-top: 5px;
    padding-bottom: 10px;
}

.cuerpo_miembros span {
    text-align: center;
    margin-top: 2%;
    width: 100%;
    margin-bottom: 2%;
}

.displayMiembroGrupo {
    text-align: left;
}

.displayFotoPerfilMiembro img {
    width: 20%;
    border-radius: 60%;
    margin: 1px 12px 0 2px;
    float: left;
}

.displayInfoMiembro {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    text-align: left;
}

.displayInfoMiembro button {
    width: 100%;
    max-width: 150px;
    margin-left: auto;
}

.col_derecha_miembros {
    width: 40%;
    margin-left: 10%;
}

.col_izquierda_miembros {
    width: 40%;
    margin-right: 10%;
}

.boton_eliminar_miembro {
    padding: 0;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    top: -80px;
    right: 10%;
    position: relative;
}

/* Invitar miembros */

.resultados_busqueda_invitar_miembros {
    border: 0.25px solid #D3D3D3;
}

.displayResultadoInvitarMiembro {
    padding: 8px 0px 0 5px;
    height: 140px;
    border-bottom: 1px solid #D3D3D3;
}

.displayResultadoInvitarMiembro a {
    float: none;
}

.invitarLiveSearchFotoPerfil img {
    height: 120px;
    border-radius: 100%;
    margin: 1px 12px 0 2px;
    float: left;
}

.invitarLiveSearchTexto {
    background-color: transparent;
    color: #1E96CA;
    font-size: 150%;
}

.invitarLiveSearchTexto p {
    margin-left: 10px;
    font-size: 70%;
}

.boton_invitar {
    float: right;
    position: relative;
    top: -15%;
    right: 2%;
}

.contenedor_boton_busqueda_invitacion {
    background-color: #F1F1F1;
    border: #E5E5E5;
    cursor: pointer;
    height: 22px;
    text-align: center;
    width: 50px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
    position: absolute;
    top: 62px;
    right: 1%;
}

.contenedor_boton_busqueda_invitacion i {
    margin-top: 1px;
    width: 20px;
}

.resultados_busqueda_invitar_miembros_pie_pagina {
    padding: 0px 4px 0 4px;
    height: 26px;
    border: 1px solid #DADADA;
    border-top: none;
    background-color: #20AAE5;
    text-align: center;
}

.resultados_busqueda_invitar_miembros_pie_pagina a {
    color: #FFFFFF;
}

.boton_invitar input[type="button"] {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    width: 110%;
    color: #FFFFFF;
}

/* Display invitaciones a grupos */

.contenedor_invitaciones_a_grupos h4 {
    text-align: center;
}

.detallesGrupoInvitado {
    display: inline-block;
    width: 10%;
    height: 110px;
    margin-right: 2%;
}

.fotoPerfilGrupoInvitado {
    height: 65%;
    text-align: center;
}

.fotoPerfilGrupoInvitado img {
    width: 95%;
    border-radius: 100%;
}

.infoGrupoInvitado {
    height: 35%;
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.contenedorInvitacion {
    display: flex;
}

.botonesInvitacion {
    margin-top: .5%;
    display: inline-block;
    width: 38%;
}

.botonesInvitacion input[type="submit"] {
    width: 65%;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    top: 20%;
    margin-bottom: 3%;
}

/* Display grupos */

.contenedorInfoGrupo {
    background-color: transparent;
    color: #1E96CA;
    border: 1px solid #D3D3D3;
    margin-left: 37%;
}

.contenedorInfoGrupo p {
    margin: 22%;
}

.contenedorImagenGrupo img {
    border-radius: 60px;
    margin: 1px 12px 0 2px;
    float: left;
    height: 150px;
    width: 55%;
}

.displayGrupo {
    padding-bottom: 3%;
}

/* Solicitar unirse al grupo */
.contenedorSolicitudGrupo input[type="submit"] {
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #FFFFFF;
    width: 55%;
}

/* Display invitaciones a grupos */

.contenedor_invitaciones_a_grupos h4 {
    text-align: center;
}

/* Display de solicitudes a grupos */

.contenedorSolicitud {
    display: flex;
}

.botonesSolicitud {
    margin-top: .5%;
    display: inline-block;
    width: 100%;
}

.botonesSolicitud input[type="submit"] {
    width: 18%;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    top: 20%;
    margin-bottom: 3%;
}

/* Display botones admin-mod */
.contenedor_botones_especiales button {
    width: 100%;
    height: 64px;
    border: solid 0.25px black;
    background-color: lightblue;
    color: black;
    text-shadow: rgb(99 170 194) 0.5px 0.5px 0px;
    font-size: 90%;
    outline: 0;
    margin-bottom: 0;
}

/* display opciones proyecto */
.contenedor_botones_proyecto button{
    width: 100%;
    height: 64px;
    border: solid 0.25px black;
    background-color: lightblue;
    color: black;
    text-shadow: rgb(99 170 194) 0.5px 0.5px 0px;
    font-size: 90%;
    outline: 0;
    margin-bottom: 0;
}

/* Sanciones */
.contenedor_sanciones h4 {
    text-align: center;
    margin-bottom: 2%;
}

.contenedor_boton_nueva_sancion button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: #e1b12c;
    color: black;
    text-shadow: rgb(99 170 194) 0.5px 0.5px 0px;
    font-size: 90%;
    outline: 0;
    margin: 0;
}

.div_superior_sancion_display {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.div_superior_sancion_display p {
    margin-top: 1%;
    margin-bottom: 1%;
    margin-left: 2%;
}

.div_central_sancion_display p {
    margin-top: 0.5%;
    margin-bottom: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
}

.div_central_sancion_display {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 0.25px black;
    height: 165px;
    word-wrap: break-word;
}

.div_mostrar_publicacion_o_comentario_sancionado {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 0.25px black;
    border-top: none;
}

.div_mostrar_publicacion_o_comentario_sancionado p {
    margin-bottom: 0.5%;
    margin-left: 1%;
    margin-right: 1%;
}

.div_inferior_sancion_display {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 0.25px black;
    border-top: none;
    height: 40px;
}

.div_inferior_sancion_display p {
    margin-left: 1%;
}

.boton_eliminar_sancion {
    padding: 0;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    right: 9%;
    top: -10px;
    position: relative;
}


/* Nueva sancion */

.contenedor_nueva_sancion h4 {
    text-align: center;
    margin-bottom: 2%;
}

.div_superior_sancion {
    display: flex;
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
}

.div_usuario_a_sancionar {
    width: 50%;
    border: solid 0.25px black;
    border-bottom: none;
}

.div_tipo_sancion {
    width: 50%;
    border: solid 0.25px black;
    border-bottom: none;
    padding-left: 1%;
}

.div_central_sancion {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 0.25px black;
    border-bottom: none;
    height: 165px;
}

.div_central_sancion textarea {
    width: 100%;
    height: 100%;
}

.div_seleccionar_publicacion_o_comentario {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    display: flex;
    border: solid 0.25px black;
    border-bottom: none;
    border-top: none;
}

.div_seleccionar_publicacion_o_comentario input[type="text"] {
    width: 75%;
}

.div_inferior_sancion {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
    border: solid 0.25px black;
    height: 40px;
}

.resultado_busqueda_usuarios_a_sancionar {
    position: absolute;
    z-index: 1;
    width: 39.3%;
    background-color: white;
    border: solid 0.25px #D3D3D3;
}

.usuario_a_sancionar {
    width: 100%;
}

.contenedor_busqueda_y_usuario {
    display: flex;
}

#tipo_sancion {
    height: 100%;
    border: none;
}

#tipo_sancion:focus {
    outline: none;
}

#tiempo_sancion {
    height: 100%;
    border: none;
}

#tiempo_sancion:focus {
    outline: none;
}

.div_inferior_sancion input[type="number"] {
    height: 100%;
    width: 8%;
}

.div_inferior_sancion input[type="submit"] {
    float: right;
    width: 12%;
    height: 100%;
    border: none;
    padding: 7px 12px;
    border-radius: 5px;
    color: #FFFFFF;
}

.resultado_busqueda_objeto_a_buscar {
    position: absolute;
    z-index: 1;
    width: 58.3%;
    background-color: white;
    border: solid 0.25px #D3D3D3;
    left: 31%;
}

.displayResultadoObjeto {
    padding: 8px 0px 0 5px;
    height: 90px;
    border-bottom: 1px solid #D3D3D3;
}

.displayResultadoObjeto:hover {
    background-color: #EBEBEB;
    text-decoration: none;
    cursor: pointer;
}

.nombre_usuario_objeto,
.id_objeto_sancion,
.id_publicacion_comentario_sancion {
    background-color: transparent;
    color: #1E96CA;
}

/* Ayuda */
.cabecera_ayuda {
    text-align: center;
}

.area_ayuda {
    width: 50%;
    margin: 0 auto;
    border: 0.25px solid black;
}

.razon_peticion_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 0px 10px;
}

.razon_peticion_container select {
    width: 92%;
}

.razon_peticion_container i {
    font-size: 70px;
}

.formulario_ayuda {
    width: 100%;
    height: 100%;
}

.formulario_ayuda textarea {
    border-radius: 3px;
    border: 1px solid #D3D3D3;
}

.formulario_ayuda input[type="submit"] {

    width: 97%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background-color: lightblue;
    color: black;
    text-shadow: rgb(99 170 194) 0.5px 0.5px 0px;
    font-size: 90%;
    margin: 8px 10px;
}

.formulario_ayuda input[type="submit"]:active {
    padding: 5px 4px 4px 5px;
}

#razon_peticion {
    flex-grow: 1;
}

.contenido_peticion_container textarea {
    margin: 0px 10px;
    width: 97%;
    height: 300px;
}

/* Administrar usuarios */
.tabla_administrar_usuarios caption {
    caption-side: top;
    text-align: center;
}

.ascender_a_moderador,
.descender_a_normal {
    width: 100%;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
    position: relative;
    top: 20%;
    margin-bottom: 1%;
}

/* help.php */
.contenedor_boton_pedir_ayuda button {
    width: 100%;
    height: 50px;
    border: none;
    border-radius: 3px;
    background-color: lightblue;
    color: black;
    text-shadow: rgb(99 170 194) 0.5px 0.5px 0px;
    font-size: 90%;
    outline: 0;
    margin: 0;
}

.contenedor_peticiones_de_ayuda h4 {
    text-align: center;
}

.displayAyda {
    width: 80%;
    margin: 0 auto;
    border: 0.25px solid black;
    min-height: 200px;
}

.razon_peticion_display {
    display: flex;
    border-bottom: 0.25px solid black;
}

.razon_peticion_display p {
    margin-top: 1%;
    margin-left: 1%;
    font-size: 32px;
}

.contenido_peticion_display p {
    margin-top: 1%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
}

.displayComentarioAyuda {
    width: 80%;
    margin: 0 auto;
    border: 0.25px solid black;
    border-top: none;
}

/* Comentarios de ayuda */
#iframe_comentario_peticion {
    max-height: 250px;
    width: 100%;
    margin-top: 5px;
}

#formulario_comentarios_peticion textarea {
    border-color: #D3D3D3;
    width: 85%;
    height: 35px;
    border-radius: 5px;
    color: #616060;
    font-size: 14px;
    margin: 3px 3px 3px 3px;
}

#formulario_comentarios_peticion input[type="submit"] {
    border: none;
    background-color: #20AAE5;
    color: #156588;
    border-radius: 5px;
    width: 13%;
    height: 40px;
    margin-top: 3px;
    position: absolute;
    text-shadow: #73b6e2 0.5px 0.5px 0px;
    cursor: pointer;
}

.mostrar_ocultar_comentarios_ayuda {
    font-size: 14px;
    margin-left: 7px;
    cursor: pointer;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900
}

.mostrar_ocultar_comentarios_ayuda i {
    font-size: 20px;
}

.razon_peticion_display_usuario_especial {
    border-bottom: 0.25px solid black;
    display: flex;
}

.razon_peticion_display_usuario_especial p {
    margin-top: 1%;
    margin-left: 1%;
    font-size: 32px;
}

.boton_resolver_ayuda {
    padding: 0;
    float: right;
    width: 25px;
    height: 25px;
    border-radius: 5px;
    right: -15px;
    top: -12px;
    position: relative;
}

/* Boton arena de bloques */
.boton_arena_bloques{
    height: 26px;
    border-radius: 5px;
    border: none;
    color: white;
    background-color: orange;
    position: relative;
    top: 20%;
    margin-bottom: 1%;
}

/* Boton de notificaciones */
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }


/* Seccion de subir proyectos */
.subir_proyecto {
    width: 50%;
    margin: 0 auto;
    border: 0.25px solid black;
    height: 235px;
    min-width: 620px;
}

.contenedor_titulo_subir_proyecto {
    width: 50%;
    margin: 0 auto;
    text-align: center;
    height: 50px;
}

.subir_proyecto textarea {
    width: 100%;
}

.subir_proyecto_container_superior {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: 10px 10px 0px 10px;
}

#publicar_titulo {
    flex-grow: 1;
}

.subir_proyecto_container_superior textarea {
    width: 92%;
}

.subir_proyecto_container_superior i {
    font-size: 55px;
}

.icono_archivo_container {
    position: relative;
    margin-left: 10px;
}

#icono_archivo {
    cursor: pointer;
}

.visibilidad-btn {
    background-color: #CCC;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
}

.visibilidad-btn.selected {
    background-color: #007bff;
    width: 30%;
    height: 30px;
    border-radius: 5px;
    border: none;
    color: white;
}

.visibilidad_proyecto {
    align-items: center;
    margin: 0px 10px;
}

.boton_subir_proyecto {
    width: 98%;
    height: 60px;
    border: none;
    border-radius: 3px;
    background-color: lightblue;
    color: black;
    text-shadow: rgb(99 170 194) 0.5px 0.5px 0px;
    font-size: 90%;
    outline: 0;
    margin: 10px;
}


/* Ver proyectos */
.contenedor_proyectos_usuario h4{
    text-align: center;
}

.contenedor_proyectos {
    display: flex;
    flex-wrap: wrap;
}

.contenedor_proyecto {
    text-align: center;
    width: 31.33%;
    margin: 2% 1%;
    height: 240px;
    border: 0.25px solid black;;
    position: relative;
}


.nombre_proyecto_container {
    color: black;
    position: relative;
    z-index: 1;
}

.nombre_proyecto_container p {
    background-color: lightblue;
}


.imagen_fondo {
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.8));
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1;
}

.imagen_fondo img {
    width: 100%;
    height: 100%;
}

.contenedor_no_proyectos {
    width: 100%;
    text-align: center;
}